.home-title {
  display: flex;

  .dumi-default-hero {
    flex: 1;
  }

  .demo {
    flex: 1;
    margin-top: 70px;
    margin-left: 20px;
  }
}

.left-title {
  font-size: 100px;
}

@media screen and (width <= 767px) {
  .dumi-default-hero {
    margin-bottom: -230px;
  }

  .home-title {
    display: block;
    width: 100%;

    .demo {
      width: 200%;
      min-width: unset;
      margin: unset;
      transform: translateX(-50%);
      scale: 0.5;
    }
  }

  .left-title {
    font-size: 60px;
  }
}
